/**
 * !!! styles in here may not be applied when using Shadow DOM !!!
 */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

